body {
    background-color: #fdfdbb;
  }
div
{
  margin : 20px
}

  a {
    color: #ff0000;
    text-decoration : none
  }

.footer
{
 display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 400px; 
}